<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <title>Predictit Arbitrage Helper</title>
        <script src="vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
        <script src="moment.min.js"></script>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" class="content">
            <h1>Predictit Arbitrage Helper</h1>
            <div class="inputmethod">
                <b>Instructions. </b>
                <i>Either</i>

                <button  v-on:click="getBest" ref="getbest">Get Most the Profitable Market</button>
                <i>Or</i>
                enter market id manually
                <input v-model="marketid" placeholder="Market id" id="marketid" type="text" ref="marketid"> and click
                <button  v-on:click="getMarket" ref="getmarket">Go</button>

            </div>
            <h2>Current Market: <a v-bind:href="market_url">{{market_title}}</a> </h2>

            <div id="lastupdated">Time since update: {{time_since_update}}</div>
            <div id="listcontracts">
                <table>
                    <thead class="sticky">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Price</th>
                            <th># of Shares</th>
                        </tr>
                    </thead>

                    <tbody >
                        <tr v-for="item in contracts" :key="item.contractId">
                            <td><img v-bind:src=item.contractImageSmallUrl width="50px" /></td>
                            <td>{{item.contractName}}</td>
                            <td>{{item.bestNoPrice * 100}}c</td>
                            <td><input type="value"  min="1" max="100" v-model:value="item.x" class="slider">  </td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <h2> </h2>
            <table>
                <thead>
                    <tr>
                        <th>Investment</th>
                        <th>Worst Case Return</th>
                        <th>Minimum Profit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>${{ calculated_investment | round }}
                        <td>${{ calculated_worst_payoff | round }}
                        <td>$<span v-bind:class="{positivepayoff: (calculated_min_payoff > 0), negativepayoff: (calculated_min_payoff < 0)}"> {{ calculated_min_payoff | round }}</span></td>
                    </tr>
                </tbody>
            </table>


            <button  v-on:click="computeProfit" ref="computepayoff" >Update profit computation (If needed)</button>



            <h2> </h2>
            <table>
                <thead>
                    <tr>
                        <th>Top Markets</th>
                        <th>Profit</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="item in top_markets" :key="top_markets.market_id">
                        <td> <a v-bind:href=item.market_url>{{ item.market_id }}</a> </td>
                        <td> {{ item.profit.profit | round }} </td>
                    </tr>
                </tbody>
            </table>

            <h2> </h2>
            <div class="inputmethod">
                <h2>About</h2>
                    This calculator helps you find the market on <a href="predictit.org">predictit</a> that have arbitrage opportunities. It can find the most profitable markets, and computes the optimal number of shares of NO to buy in each contract.
                    For more details, please checkout the <a href="youtube.com">video </a>.
                <div>
                    Tips:
                    <ul>
                        <li>market id can be read directly for the url of the market:<br/>
                            <img src="id_in_predctit_url.png" width="800px"/>
                        <li> You can manually change the number of shares in the table below to see how you profit will change.
                    </ul>
                </div>
            </div>


<script src="predictit_app.js"></script>

</body>
</html>
